<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AirlineReservationSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AdminL</servlet-name>
    <jsp-file>/AdminL.jsp</jsp-file>
    <init-param>
      <param-name>user1</param-name>
      <param-value>smita</param-value>
    </init-param>
    <init-param>
      <param-name>password1</param-name>
      <param-value>abc</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminL</servlet-name>
    <url-pattern>/AdminL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Save</display-name>
    <servlet-name>Save</servlet-name>
    <servlet-class>servlets.Save</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Save</servlet-name>
    <url-pattern>/Save</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>servlets.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUL</display-name>
    <servlet-name>ServletUL</servlet-name>
    <servlet-class>servlets.ServletUL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUL</servlet-name>
    <url-pattern>/ServletUL</url-pattern>
  </servlet-mapping>
</web-app>